:root {
  --homebg: #e4e4e4;
  --hometxt: #222;
  --gorillabg: #222;
  --gorillatxt: #e4e4e4;
  --bananabg: #f2f764;
  --bananatxt: #4c1c0f;
  --waterbg: #3398ef;
  --watertxt: #d6e3ee;
  --headerbg: #000000;
  --headertxt: #ffffff;
  --subtitle: #1c1c1c;
  --line: #353535;
  --color-secondary: #e7e7e7;
  --secondary: rgb(1, 220, 1);
  --btnSave:  rgb(2, 164, 2);
  --btnSaveHover:  rgb(2, 123, 2);
  --btnSaveTxt:  rgb(226, 226, 226);
  --btnDelete:  rgb(204, 20, 0);
  --btnDeleteHover:  rgb(174, 17, 0);
  --btnDeleteTxt:  rgb(226, 226, 226);
  --btnCancel:  rgb(29, 29, 29);
  --btnCancelHover:  rgb(0, 0, 0);
  --btnCancelTxt:  rgb(226, 226, 226);
  --color-shadow: #9a9a9a;
  --color-offline: rgb(6, 122, 255); 

  --defaultfontstack: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 20px;
  font-family: var(--defaultfontstack);
  font-weight: 300;
}
body{
  overflow-x: hidden; 
}
body.home {
  background-color: var(--homebg);
  color: var(--hometxt);
}
body.gorilla {
  background-color: var(--gorillabg);
  color: var(--gorillatxt);
}
body.banana {
  background-color: var(--bananabg);
  color: var(--bananatxt);
}
body.water {
  background-color: var(--waterbg);
  color: var(--watertxt);
}
header {
  min-height: 4rem;
  background-color: var(--headerbg);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-top: 0.5rem solid var(--secondary);

}
header span {
  
  line-height: 3rem;
  height: 3rem;
  width: 3rem;
  display: grid;
  place-content: center;
  background-color: #eee;
  border-radius: 50%;
  cursor: pointer;
  justify-items: center;
  font-size: 1rem;
  vertical-align: middle;
}
header h1 {
  font-size: 2rem;
  padding: 1rem 2rem;
  color: var(--headertxt);
}
header p {
  display: grid;
  place-content: center;
  color: #222;
}
main {
  min-height: 100vh;
  display: grid; /* default */
  position: fixed;
  /* position: relative; */
  top: 0;
  left:0;
  width: 100vw;
  opacity: 0;
  transform: translateX(-200%);
  transition: 1s transform 0.8s linear, opacity 0.5s linear;
  padding: 5rem 1rem 1rem 1rem; 
}
body.home main#home,
body.gorilla main#gorilla,
body.banana main#banana,
body.water main#water,
body.newuser main#newuser,
body.page_gifts main#page_gifts,
body.newgift main#newgift {
  transition: 0s transform 0.3s linear, opacity 0.1s linear;
  /* display: block; */
  transform: translateX(0);
  opacity: 1;
}

body.home header .back {
  /* display: none; */
  display: grid;
  background-color: black;
  cursor:default;
}
body.home header .add {
  display: grid;
}
body.newuser header .add {
  display: none;
  /* display: grid;
  background-color: black;
  cursor:default; */
}
body.home header .add_gift {
  display: none;
  /* display: grid;
  background-color: black;
  cursor:default; */
}
body.home header .back {
  display: none;
  /* display: grid;
  background-color: black;
  cursor:default; */
}
body.newuser header .add_gift {
  display: none;
  /* display: grid;
  background-color: black;
  cursor:default; */
}

body.page_gifts header .add {
  display: grid;
  /* display: grid;
  background-color: black;
  cursor:default; */
}

body.page_gifts header .add {
  display: none;
  /* display: grid;
  background-color: black;
  cursor:default; */
}
body.newgift header .add {
  display: none;
  /* display: grid;
  background-color: black;
  cursor:default; */
}
body.newgift header .add_gift {
  display: none;
  /* display: grid;
  background-color: black;
  cursor:default; */
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

/* --- HOME STYLE --- */

  .home__title {
      color: var(--subtitle);
      position: relative;
      text-align: center;
      padding-top: 1rem;
      padding-bottom: 1rem;
      width: 100%;
      height: fit-content;
      border-bottom: 1px solid var(--line);
  }
  .home__list {
      position: fixed;
      /* height: fit-content; */
      width: 100%;
      list-style: none;
      margin-top: 10rem ;
      text-align: center;
      padding-top: 0.2rem;
      padding-bottom: 0.2rem;
  }
  .home__items {
    width: 80%;
    align-self: center;
    margin: auto;
    background-color: red;
    padding: 0.5rem 1rem ;
    color: var(--headertxt);
    margin-bottom: 0.2rem;
  }
  
  .home__subitems {
    display: grid;
    grid-gap: 1rem;
    --col: 1;
    --rows: 3;
    grid-template-columns:  repeat(--col, 1fr);
    grid-template-rows: repeat(--rows,1fr);
  }
  .home__subitem_main {
    /* grid-column: 1/4; */
    grid-column: 1;
    grid-row: 1;
  }
  .home__subitem_edit {
    /* grid-column: 4/5; */
    grid-column: 1;
    grid-row: 2;
  }
  .home__subitem_gift {
    /* grid-column: 5/6; */
    grid-column: 1;
    grid-row: 3;
  }


  .home__subitem_1 {
    font-size: 1em;
    text-transform: uppercase;
  }
  .home__subitem_2 {
    font-size: 0.7em;
  }
  #name {
    text-transform: uppercase;
  }

  @media only screen and (min-width: 10em) {
    .home__subitems {
      --col: 1;
      --rows: 3;
    }
    .home__subitem_main {
      /* grid-column: 1/4; */
      grid-column: 1;
      grid-row: 1;
    }
    .home__subitem_edit {
      /* grid-column: 4/5; */
      grid-column: 1;
      grid-row: 2;
    }
    .home__subitem_gift {
      /* grid-column: 5/6; */
      grid-column: 1;
      grid-row: 3;
    }
  }
  @media only screen and (min-width: 45em) {
    .home__subitems {
      --col: 5;
      --rows: 1;
    }
    .home__subitem_main {
      /* column-width: 60%; */
      grid-column: 1/4;
      grid-row: 1;
    }
    .home__subitem_edit {
      /* column-width: 20%; */
      grid-column: 4/5;
      grid-row: 1;
    }
    .home__subitem_gift {
      /* column-width: 20%; */
      grid-column: 5/6;
      grid-row: 1;
    }
  }

  @media only screen and (min-width: 60em) {
    .home__subitems {
      --col: 5;
      --rows: 1;
    }
    .home__subitem_main {
      /* column-width: 60%; */
      grid-column: 1/4;
      grid-row: 1;
    }
    .home__subitem_edit {
      /* column-width: 20%; */
      grid-column: 4/5;
      grid-row: 1;
    }
    .home__subitem_gift {
      /* column-width: 20%; */
      grid-column: 5/6;
      grid-row: 1;
    }
  }

  /* --- HOME STYLE --- */

  .gift__idea {
    text-transform: uppercase;
  }
  .gifts__title {
      color: var(--subtitle);
      text-align: center;
      /* padding-top: 1rem; */
      padding-bottom: 1rem;
      width: 100%;
      height: fit-content;
      border-bottom: 1px solid var(--line);
  }
  .gifts__list {
    /* position: fixed; */
      height: fit-content;
      width: 100%;
      list-style: none;
      /* margin-top: -10rem ; */
      text-align: center;
      /* padding-top: 1.2rem; */
      background-color: rgb(235, 235, 235);
      padding-bottom: 1.2rem;
  }
  .gifts__items {
    width: 80%;
    align-self: center;
    margin: auto;
    background-color: rgb(255, 230, 0);
    padding: 0.5rem 1rem ;
    /* color: var(--headertxt); */
    margin-bottom: 0.2rem;
  }

  .gifts__subitems {
    --col: 1;
    --rows: 3;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns:  repeat(--cols, 1fr);
    grid-template-rows: repeat(--rows,1fr);
  }
  .gifts__subitem_main {
    /* grid-column: 1/4; */
    grid-column: 1;
    grid-row: 1;
  }
  .gifts__subitem_edit {
    /* grid-column: 4/5; */
    grid-column: 1;
    grid-row: 2;
  }
  .gifts__subitem_gift {
    /* grid-column: 5/6; */
    grid-column: 1;
    grid-row: 3;
  }


  .gifts__subitem_1 {
    font-size: 1em;
    text-transform: uppercase;
  }
  .gifts__subitem_2 {
    font-size: 0.7em;
  }

  .gifts__wrap {
    position: fixed;
    background-color: #f3f3f3;
    border-radius: 1.5rem;
    box-shadow: 0 .25rem 0.6rem var(--color-shadow);
    overflow: hidden;
    display: grid;
    margin-top: 6rem;
    width: 100%;
    text-align: center;
    
    --cols: 1;
    grid-template-columns: repeat(var(--cols),1fr);
  }

  @media only screen and (min-width: 10em) {
    .gifts__subitems {
      --col: 1;
      --rows: 3;
    }
    .gifts__subitem_main {
      /* grid-column: 1/4; */
      grid-column: 1;
      grid-row: 1;
    }
    .gifts__subitem_edit {
      /* grid-column: 4/5; */
      grid-column: 1;
      grid-row: 2;
    }
    .gifts__subitem_gift {
      /* grid-column: 5/6; */
      grid-column: 1;
      grid-row: 3;
    }
  }
  @media only screen and (min-width: 45em) {
    .gifts__subitems {
      --col: 5;
      --rows: 1;
    }
    .gifts__subitem_main {
      /* column-width: 60%; */
      grid-column: 1/4;
      grid-row: 1;
    }
    .gifts__subitem_edit {
      /* column-width: 20%; */
      grid-column: 4/5;
      grid-row: 1;
    }
    .gifts__subitem_gift {
      /* column-width: 20%; */
      grid-column: 5/6;
      grid-row: 1;
    }
  }

  @media only screen and (min-width: 60em) {
    .gifts__subitems {
      --col: 5;
      --rows: 1;
    }
    .gifts__subitem_main {
      /* column-width: 60%; */
      grid-column: 1/4;
      grid-row: 1;
    }
    .gifts__subitem_edit {
      /* column-width: 20%; */
      grid-column: 4/5;
      grid-row: 1;
    }
    .gifts__subitem_gift {
      /* column-width: 20%; */
      grid-column: 5/6;
      grid-row: 1;
    }
  }

/* --- Add user style --- */
  #newuser {
    align-self: auto;
    text-align: start;
  }
  #page_gifts {
    /* position: fixed; */
    /* position: relative; */
    align-self: auto;
    text-align: start;
  }

/* --- Add form --- */
.contact__form {
  padding: 3rem 1.5rem;
  display: grid;
  --cols: 1;
  grid-template-columns: repeat(var(--cols),1fr);
  gap: 1.5rem;
}

/* --- Buttons --- */
.btn,
        input[type="submit"] {
        /* common styles */
        display: inline-block;
        padding: .55em 1.5em .5em;
        background-color: var(--color-secondary);
        border: 0.125rem solid var(--color-secondary);
        color: #fff;
        border-radius: .55em;
        /* width: 90%; */
        text-decoration: none;
        cursor: pointer;
        font-family: inherit;
        font-size: inherit;
        }


#btnSave, #btnGiftSave {
  background-color: var(--btnSave) !important;
  color: var(--btnSaveTxt);
}
#btnSave:hover, #btnGiftSave:hover {
  background-color: var(--btnSaveHover) !important;
  color: var(--btnSaveTxt);
}
#btnDelete {
  background-color: var(--btnDelete) !important;
  color: var(--btnDeleteTxt);
}
#btnDelete:hover {
  background-color: var(--btnDeleteHover) !important;
  color: var(--btnDeleteTxt);
}
#btnCancel, #btnGiftCancel {
  background-color: var(--btnCancel) !important;
  color: var(--btnCancelTxt);
}
#btnCancel:hover, #btnGiftCancel:hover {
  background-color: var(--btnCancelHover) !important;
  color: var(--btnCancelTxt);
}

.btnHome {
  background-color: var(--btnSave) !important;
  color: var(--btnSaveTxt);
}
.btnGift {
  background-color: var(--btnSave) !important;
  color: var(--btnSaveTxt);
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}
.contact__form input, textarea {
  display: block;
  width: 100%;
  padding: .25rem;
  border: 0.0625rem solid #ccc;
  border-radius: .25rem;
}
.contact__wrap {
  position: fixed;
  background-color: #f3f3f3;
  border-radius: 1.5rem;
  box-shadow: 0 .25rem 0.6rem var(--color-shadow);
  overflow: hidden;
  display: grid;
  margin-top: 6rem;
  width: 100%;
  text-align: center;

  --cols: 1;
  grid-template-columns: repeat(var(--cols),1fr);
}
.form__title {
  margin-bottom: 0;
}
.form__unit.full {
  grid-column: 1 / -1;
}

label {
  display: block;
  width: 100%;
  font-size: .875rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: .25rem;
}

.footer__container {
	color: rgb(255, 255, 255);
  background-color: var(--color-offline);
  padding: 1em 1.8em;
  width: 100%;
  font-family: Helvetica,Calibri,Arial,sans-serif;
}
.footer {
  position:fixed;
  left:0px;
  bottom:0px;
}